# Sony SDK binaries and headers (to be populated locally)
3rd_party/CrSDK/include/
3rd_party/CrSDK/lib/

# Compiled output directory
bin_out/

# Python Virtual Environment and Build Artifacts
venv/
build/
negicc_station.egg-info/
__pycache__/
*.pyc
*.ARW

# Compiled objects and libraries
*.o
*.so
