# Sony SDK binaries and headers (to be populated locally)
3rd_party/CrSDK/include/
3rd_party/CrSDK/lib/

# Compiled test target
capture_test

# Local symlinks for testing
CrAdapter
libCr_Core.so
libmonitor_protocol.so
libmonitor_protocol_pf.so

